<div class="container-fluid">
    <div class="form-group">
        <fieldset class="the-fieldset">
            <legend class="the-legend">Current Sold To Information</legend>
            <form>
                <div class="row">
                    <div class="col-xl-6 col-md-6">
                        <div class="card">
                            <div class="card-header bg-red text-white">AVAILABLE NUMBERS
                                <p><span>
                                        <label>Show Details</label>
                                        <input type="checkbox" [(ngModel)]="isEnabled" (change)="showDetails($event)"
                                            [ngModelOptions]="{standalone: true}">
                                    </span>
                                </p>
                            </div>
                            <div class="card-body">
                                <p><span>
                                        <label>{{soldToNumbers.name}}</label>
                                        <input type="checkbox" [(ngModel)]="isEnabled"
                                            [ngModelOptions]="{standalone: true}">
                                    </span></p><br>
                                <span>
                                    <label>{{soldToPhoneNumber}}</label><br>
                                    <label>{{soldToLocation}}</label><br>
                                </span>
                            </div>
                            <div class="card-footer bg-grey">
                                <button class="btn btn-danger formButton SaveBtn" (click)="requestAll()">Request All</button>
                                <button class="btn btn-secondary formButton" (click)="requestSelection()">Request Selection</button>
                            </div>
                        </div>
                    </div>
                    <!--First card column end-->
                    <div class="col-xl-6 col-md-6">
                        <div class="card">
                            <div class="card-header bg-red text-white">YOUR NUMBERS
                                <p><span>
                                        <label>Show Details</label>
                                        <input type="checkbox" (change)="showNumbers($event)"
                                            [(ngModel)]="numberIsEnabled" [ngModelOptions]="{standalone: true}">
                                    </span>
                                </p>
                            </div>
                            <div class="card-body">
                                <p><span>
                                        <label>{{name}}</label>
                                        <input type="checkbox" [(ngModel)]="numberIsEnabled"
                                            [ngModelOptions]="{standalone: true}">
                                    </span></p><br>
                                <span>
                                    <label>{{numberLocation}}</label><br>
                                    <label>{{numberCompany}}</label><br>
                                </span>
                            </div>
                            <div class="card-footer bg-grey">
                                <button class="btn btn-danger formButton SaveBtn" (click)="requestNumbers()">Request All</button>
                                <button class="btn btn-secondary formButton" (click)="removeNumbers()">Remove Selection</button>
                                <button class="btn btn-secondary formButton">Make Default</button>
                            </div>
                        </div>
                    </div>
                    <!--Second card column end-->

                </div>
            </form>
        </fieldset>
    </div>

</div>