<div class="container mr-bottom">
    <div class="row">
        <div class="col-xl-5">
            <div class="form-group">
                <fieldset class="the-fieldset userDetailsTable">
                    <legend class="the-legend">Current Sold To Information</legend>
                    <form>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header bg-red the-firstCardLegend">AVAILABLE NUMBERS
                                        <p><span>
                                                <label>Show Details</label>
                                                <input type="checkbox" [(ngModel)]="isEnabled"
                                                    (change)="showDetails($event)" [ngModelOptions]="{standalone: true}">
                                            </span>
                                        </p>
                                    </div>
                                    <div class="card-body">
                                        <p><span>
                                                <label>{{soldToNumbers.name}}</label>
                                                <input type="checkbox" [(ngModel)]="isEnabled" [ngModelOptions]="{standalone: true}">
                                            </span></p><br>
                                        <span>
                                            <label>{{soldToPhoneNumber}}</label><br>
                                            <label>{{soldToLocation}}</label><br>
                                            <label>{{soldToCompany}}</label><br>
                                        </span>
                                    </div>
                                    <div class="card-footer bg-grey">
                                        <button class="formButton SaveBtn" (click)="requestAll()">Request All</button>
                                        <button class="requestSelectonbtn">Request Selection</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="card-header bg-red the-firstCardLegend">YOUR NUMBERS
                                        <p><span>
                                                <label>Show Details</label>
                                                <input type="checkbox" (change)="showNumbers($event)" [(ngModel)]="numberIsEnabled" [ngModelOptions]="{standalone: true}">
                                            </span>
                                        </p>
                                    </div>
                                    <div class="card-body">
                                        <p><span>
                                                <label>{{name}}</label>
                                                <input type="checkbox" [(ngModel)]="numberIsEnabled" [ngModelOptions]="{standalone: true}">
                                            </span></p><br>
                                            <span>
                                                <label>{{numberLocation}}</label><br>
                                                <label>{{numberCompany}}</label><br>
                                            </span>
                                    </div>
                                    <div class="card-footer bg-grey">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <button class="formButton" (click)="requestNumbers()">Request</button>
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="formButton" (click)="removeNumbers()">Remove</button>
                                            </div>
                                            <div class="col-sm-3">
                                                <button class="formButton">Make</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>
    </div>
</div>