<!-- <app-header [navbarBrandRouterLink]="['/']" [fixed]="true" [navbarBrandFull]="{src: 'assets/img/brand/avaya-logo-white.svg', width: 89, height: 25, alt: 'CoreUI Logo'}" [navbarBrandMinimized]="{src: 'assets/img/brand/avaya-logo-white.svg', width: 50, height: 50, alt: 'CXP Logo'}"
    [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
    <ul class="nav navbar-nav ml-auto">

    </ul>
</app-header>


<div class="app-body">
    <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="sidebarMinimized" (minimizedChange)="toggleMinimize($event)">
        <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
        <app-sidebar-minimizer></app-sidebar-minimizer>
    </app-sidebar>
    <main class="main"> -->
<!-- <cui-breadcrumb>
        </cui-breadcrumb> -->

<!-- <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">{{ firstRoute }}</li>
                <li class="breadcrumb-item active" aria-current="page">{{ secondRoute }}</li>
            </ol>
        </nav>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>
<app-footer>
    <span>© 2020 Avaya Inc. Use of this site indicates you accept the Terms of Use and the Privacy Statement..</span>
</app-footer> -->

<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar">
    <div class="c-sidebar-brand d-lg-down-none">
        <img class="c-sidebar-brand-full" src="./assets/img/brand/avaya-logo-white.svg" width="118" height="46" alt="AVAYA Logo" />
        <img class="c-sidebar-brand-minimized" src="./assets/img/brand/avaya-logo-white.svg" width="46" height="46" alt="AVAYA Logo" />
    </div>

    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                <svg class="c-sidebar-nav-icon">
          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
        </svg> User Profile</a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/user-profile/editMyProfile"><span class="c-sidebar-nav-icon"></span>Edit My Profile</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/user-profile/manageMySoldTos"><span class="c-sidebar-nav-icon"></span>Manage My Sold Tos</a></li>
                <!-- <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/user-profile/linkCustAssoc"><span class="c-sidebar-nav-icon"></span>Link ID - Customer ID Association</a></li> -->
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/user-profile/eNotification"><span class="c-sidebar-nav-icon"></span>E Notification</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/user-profile/pushNotification"><span class="c-sidebar-nav-icon"></span>Push Notification</a></li>
            </ul>
        </li>
        <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                <svg class="c-sidebar-nav-icon">
          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-cursor"></use>
        </svg> User Management</a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/user-management/requestApproval"><span class="c-sidebar-nav-icon"></span>Approval Request</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/user-management/newUserRegistration"><span class="c-sidebar-nav-icon"></span>Register New USer</a></li>
            </ul>
        </li>
        <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
                <svg class="c-sidebar-nav-icon">
          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-star"></use>
        </svg> Search</a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/search/searchUsers">Users</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/search/searchCompany">Companies</a></li>
            </ul>
        </li>
        <li class="c-sidebar-nav-item c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-link c-sidebar-nav-dropdown-toggle" href="#">
                <svg class="c-sidebar-nav-icon">
          <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
        </svg> Tools</a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/tools/soldtoUsersAssoc"><span class="c-sidebar-nav-icon"></span>SoldTo Users Association</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/tools/soldtoLinkIdAssoc"><span class="c-sidebar-nav-icon"></span>SoldTo Link ID Association</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/tools/soldToAssoc"><span class="c-sidebar-nav-icon"></span>Delete SoldTo Association</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/tools/soldToUsersTrans"><span class="c-sidebar-nav-icon"></span>Copy SoldTos - Users</a></li>
                <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/tools/soldToLinkIdTrans"><span class="c-sidebar-nav-icon"></span>Copy SoldTos - Link IDS</a></li>
            </ul>
        </li>
        <li class="c-sidebar-nav-divider"></li>
    </ul>
    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>
<div class="c-wrapper c-fixed-components">
    <header class="c-header c-header-light c-header-fixed c-header-with-subheader">
        <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar" data-class="c-sidebar-show">
      <svg class="c-icon c-icon-lg">
        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
      </svg>
    </button>
        <a class="c-header-brand d-lg-none" href="#">
            <img class="c-sidebar-brand-full" src="./assets/img/brand/avaya-logo-white.svg" width="118" height="46" alt="AVAYA Logo" />
        </a>
        <ul class="c-header-nav ml-auto mr-4">
            <li class="c-header-nav-item dropdown">
                <a class="c-header-nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="c-avatar">
                        <svg class="c-icon mr-2">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-options"></use>
                          </svg>
                        <!-- <img class="c-avatar-img" src="assets/img/avatars/6.jpg" alt="user@email.com"> -->
                    </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right pt-0">
                    <a class="dropdown-item" href="#">
                        <svg class="c-icon mr-2">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
            </svg>Home</a>
                    <a class="dropdown-item" href="#">
                        <svg class="c-icon mr-2">
      <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
    </svg>Help</a>
                    <a class="dropdown-item" href="#">
                        <svg class="c-icon mr-2">
              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
            </svg> Logout</a>
                </div>
            </li>
        </ul>
        <div class="c-subheader px-3">
            <!-- Breadcrumb-->
            <ol class="breadcrumb border-0 m-0">
                <li class="breadcrumb-item">{{ firstRoute }}</li>
                <li class="breadcrumb-item active">{{ secondRoute }}</li>
                <!-- Breadcrumb Menu-->
            </ol>
        </div>
    </header>
    <div class="c-body">
        <main class="c-main">
            <div class="container-fluid">
                <div class="fade-in">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </main>
        <footer class="c-footer">
            <span>© 2020 Avaya Inc. Use of this site indicates you accept the Terms of Use and the Privacy Statement..</span>
        </footer>
    </div>
</div>