<div class="c-sidebar c-sidebar-dark c-sidebar-fixed c-sidebar-lg-show" id="sidebar" *ngIf="firstRoute && secondRoute">
    <div class="c-sidebar-brand d-lg-down-none">
        <img class="c-sidebar-brand-full" src="./assets/img/brand/avaya-logo-white.svg" width="118" height="46" alt="AVAYA Logo" />
        <img class="c-sidebar-brand-minimized" src="./assets/img/brand/avaya-logo-white.svg" width="46" height="46" alt="AVAYA Logo" />
    </div>
    <ul class="c-sidebar-nav">
        <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
                <svg class="c-sidebar-nav-icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                </svg> User Profile</a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item" [ngClass]="editMyProfile.isActive ? 'c-active-link':''"><a class="c-sidebar-nav-link" [routerLinkActive]="['']" #editMyProfile="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="/user-profile/editMyProfile"><span class="c-sidebar-nav-icon"></span>Edit My Profile</a></li>
                <li class="c-sidebar-nav-item" [ngClass]="manageMySoldTos.isActive ? 'c-active-link':''"><a class="c-sidebar-nav-link" [routerLinkActive]="['']" #manageMySoldTos="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="/user-profile/manageMySoldTos"><span class="c-sidebar-nav-icon"></span>Manage My Sold Tos</a></li>
                <!-- <li class="c-sidebar-nav-item"><a class="c-sidebar-nav-link" routerLink="/user-profile/linkCustAssoc"><span class="c-sidebar-nav-icon"></span>Link ID - Customer ID Association</a></li> -->
                <li class="c-sidebar-nav-item" [ngClass]="linkCustAssoc.isActive ? 'c-active-link':''"><a class="c-sidebar-nav-link" [routerLinkActive]="['']" #linkCustAssoc="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="/user-profile/eNotification"><span class="c-sidebar-nav-icon"></span>E Notification</a></li>
                <li class="c-sidebar-nav-item" [ngClass]="eNotification.isActive ? 'c-active-link':''"><a class="c-sidebar-nav-link" [routerLinkActive]="['']" #eNotification="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="/user-profile/pushNotification"><span class="c-sidebar-nav-icon"></span>Push Notification</a></li>
            </ul>
        </li>
        <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
                <svg class="c-sidebar-nav-icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-cursor"></use>
                </svg> User Management</a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item" [ngClass]="requestApproval.isActive ? 'c-active-link':''"><a class="c-sidebar-nav-link" [routerLinkActive]="['']" #requestApproval="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="/user-management/requestApproval"><span class="c-sidebar-nav-icon"></span>Approval Request</a></li>
                <li class="c-sidebar-nav-item" [ngClass]="newUserRegistration.isActive ? 'c-active-link':''"><a class="c-sidebar-nav-link" [routerLinkActive]="['']" #newUserRegistration="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="/user-management/newUserRegistration"><span class="c-sidebar-nav-icon"></span>Register New USer</a></li>
            </ul>
        </li>
        <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
                <svg class="c-sidebar-nav-icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-star"></use>
                </svg> Search</a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item" [ngClass]="searchUsers.isActive ? 'c-active-link':''"><a class="c-sidebar-nav-link" [routerLinkActive]="['']" #searchUsers="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="/search/searchUsers">Users</a></li>
                <li class="c-sidebar-nav-item" [ngClass]="searchCompany.isActive ? 'c-active-link':''"><a class="c-sidebar-nav-link" [routerLinkActive]="['']" #searchCompany="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="/search/searchCompany">Companies</a></li>
            </ul>
        </li>
        <li class="c-sidebar-nav-dropdown">
            <a class="c-sidebar-nav-dropdown-toggle" href="#">
                <svg class="c-sidebar-nav-icon">
                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                </svg> Tools</a>
            <ul class="c-sidebar-nav-dropdown-items">
                <li class="c-sidebar-nav-item" [ngClass]="soldtoUsersAssoc.isActive ? 'c-active-link':''"><a class="c-sidebar-nav-link" [routerLinkActive]="['']" #soldtoUsersAssoc="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="/tools/soldtoUsersAssoc"><span class="c-sidebar-nav-icon"></span>SoldTo Users Association</a></li>
                <li class="c-sidebar-nav-item" [ngClass]="soldtoLinkIdAssoc.isActive ? 'c-active-link':''"><a class="c-sidebar-nav-link" [routerLinkActive]="['']" #soldtoLinkIdAssoc="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="/tools/soldtoLinkIdAssoc"><span class="c-sidebar-nav-icon"></span>SoldTo Link ID Association</a></li>
                <li class="c-sidebar-nav-item" [ngClass]="soldToAssoc.isActive ? 'c-active-link':''"><a class="c-sidebar-nav-link" [routerLinkActive]="['']" #soldToAssoc="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="/tools/soldToAssoc"><span class="c-sidebar-nav-icon"></span>Delete SoldTo Association</a></li>
                <li class="c-sidebar-nav-item" [ngClass]="soldToUsersTrans.isActive ? 'c-active-link':''"><a class="c-sidebar-nav-link" [routerLinkActive]="['']" #soldToUsersTrans="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="/tools/soldToUsersTrans"><span class="c-sidebar-nav-icon"></span>Copy SoldTos - Users</a></li>
                <li class="c-sidebar-nav-item" [ngClass]="soldToLinkIdTrans.isActive ? 'c-active-link':''"><a class="c-sidebar-nav-link" [routerLinkActive]="['']" #soldToLinkIdTrans="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLink="/tools/soldToLinkIdTrans"><span class="c-sidebar-nav-icon"></span>Copy SoldTos - Link IDS</a></li>
            </ul>
        </li>
        <li class="c-sidebar-nav-divider"></li>
    </ul>
    <button class="c-sidebar-minimizer c-class-toggler" type="button" data-target="_parent" data-class="c-sidebar-minimized"></button>
</div>
<div class="c-wrapper c-fixed-components">
    <cxp-app-header *ngIf="firstRoute && secondRoute" [(firstRoute)]="firstRoute" [(secondRoute)]="secondRoute"></cxp-app-header>
    <div class="c-body">
        <main class="c-main">
            <div class="container-fluid">
                <div class="fade-in">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </main>
        <cxp-app-footer *ngIf="firstRoute && secondRoute"></cxp-app-footer>
    </div>
</div>