<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <!-- <div class="card bg-light mb-3">
                <div class="card-header align-middle">INFORMATION</div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Name: <span>Pravin Jagtap</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Company:
                            <span class="badge badge-primary badge-pill">2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Location:

                            <span class="badge badge-primary badge-pill">1</span>
                        </li>
                    </ul>
                </div>
            </div> -->
            <div class="form-group">
                <fieldset class="the-fieldset userDetailsTable">
                    <legend class="the-legend">Information</legend>
                    <p><span>Name:</span> Jimmy Austin</p>
                    <p><span>Company:</span> ABC</p>
                    <p><span>User Name:</span> Dkodrani</p>
                    <p><span>User Id:</span> Dhawal@123</p>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-7 tabdetails">
            <div class="form-group tab">
                <fieldset class="the-fieldset userDetailsTable">
                    <legend class="the-legend">Tool Box</legend>
                    <button class="tablinks" (click)="openCity($event, 'EditContactInformation')" id="defaultOpen"><i class="cis-chevron-right"></i>Edit Contact Information</button>
                    <button class="tablinks" (click)="openCity($event, 'EditAddressInformation')"><i class="cis-chevron-right"></i>Edit Address Information</button>
                    <button class="tablinks" (click)="openCity($event, 'viewRequestRoles')"><i class="cis-chevron-right"></i>View/Request Roles</button>
                </fieldset>
              </div>
              
              <div id="EditContactInformation" class="tabcontent">
                <form action="#">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                
                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                
                    <label for="country">Country</label>
                    <select id="country" name="country">
                      <option value="australia">Australia</option>
                      <option value="canada">Canada</option>
                      <option value="usa">USA</option>
                    </select>
                    <button class="formButton">Cancle</button>
                    <button class="formButton SaveBtn">Save</button>
                  </form>
              </div>
              
              <div id="EditAddressInformation" class="tabcontent">
                <h3>Paris</h3>
                <p>Paris is the capital of France.</p> 
              </div>
              
              <div id="viewRequestRoles" class="tabcontent">
                <h3>Tokyo</h3>
                <p>Tokyo is the capital of Japan.</p>
              </div>
              
            <!-- <div class="row">
                <div class="col-md-6">      
                    <div class="form-group">
                        <fieldset class="the-fieldset userDetailsTable">
                            <legend class="the-legend">Tool Box</legend>
                        </fieldset>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div> -->
            <!-- <div class="card bg-light mb-3">
                <div class="card-header align-middle">TOOLBOX</div>
                <div class="card-body">
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Edit Contact Information
                              </button>
                                </h2>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="card-body">
                                    Sed feugiat egestas nisl sed faucibus. Fusce nisi metus, accumsan eget ullamcorper eget, iaculis id augue. Vivamus porta elit id nulla varius, in sodales massa bibendum. Nullam condimentum pellentesque est, vel lacinia ipsum efficitur sed. Morbi porttitor
                                    porta commodo. Sed feugiat egestas nisl sed faucibus. Fusce nisi metus, accumsan eget ullamcorper eget, iaculis id augue. Vivamus porta elit id nulla varius, in sodales massa bibendum. Nullam condimentum pellentesque
                                    est, vel lacinia ipsum efficitur sed. Morbi porttitor porta commodo.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Edit Address Information
                              </button>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="card-body">
                                    Sed feugiat egestas nisl sed faucibus. Fusce nisi metus, accumsan eget ullamcorper eget, iaculis id augue. Vivamus porta elit id nulla varius, in sodales massa bibendum. Nullam condimentum pellentesque est, vel lacinia ipsum efficitur sed. Morbi porttitor
                                    porta commodo. Sed feugiat egestas nisl sed faucibus. Fusce nisi metus, accumsan eget ullamcorper eget, iaculis id augue. Vivamus porta elit id nulla varius, in sodales massa bibendum. Nullam condimentum pellentesque
                                    est, vel lacinia ipsum efficitur sed. Morbi porttitor porta commodo.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        View/Request Roles
                              </button>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Sed feugiat egestas nisl sed faucibus. Fusce nisi metus, accumsan eget ullamcorper eget, iaculis id augue. Vivamus porta elit id nulla varius, in sodales massa bibendum. Nullam condimentum pellentesque est, vel lacinia ipsum efficitur sed. Morbi porttitor
                                    porta commodo. Sed feugiat egestas nisl sed faucibus. Fusce nisi metus, accumsan eget ullamcorper eget, iaculis id augue. Vivamus porta elit id nulla varius, in sodales massa bibendum. Nullam condimentum pellentesque
                                    est, vel lacinia ipsum efficitur sed. Morbi porttitor porta commodo.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFoure">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFoure" aria-expanded="false" aria-controls="collapseThree">
                                        Request User Type
                              </button>
                                </h2>
                            </div>
                            <div id="collapseFoure" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="card-body">
                                    Sed feugiat egestas nisl sed faucibus. Fusce nisi metus, accumsan eget ullamcorper eget, iaculis id augue. Vivamus porta elit id nulla varius, in sodales massa bibendum. Nullam condimentum pellentesque est, vel lacinia ipsum efficitur sed. Morbi porttitor
                                    porta commodo. Sed feugiat egestas nisl sed faucibus. Fusce nisi metus, accumsan eget ullamcorper eget, iaculis id augue. Vivamus porta elit id nulla varius, in sodales massa bibendum. Nullam condimentum pellentesque
                                    est, vel lacinia ipsum efficitur sed. Morbi porttitor porta commodo.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>