.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    padding: 0 10px;
    border: 1px solid #d11a0d;
    background: #d11a0d;
    color: #fff;
    text-transform: uppercase;
}

.the-fieldset {
    border: 2px solid grey;
    padding: 10px;
}

fieldset.the-fieldset.userDetailsTable p {
    color: #000;
}

fieldset.the-fieldset.userDetailsTable p span {
    color: grey;
}


/* Style the tab */

.tab {
    float: left;
    // border: 1px solid #ccc;
    // background-color: #f1f1f1;
    width: 30%;
    height: 300px;
}


/* Style the buttons inside the tab */

.tab button {
    display: block;
    background-color: inherit;
    color: grey;
    // padding: 22px 16px;
    padding: 15px 10px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
}


/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}


/* Create an active/current "tab button" class */

.tab button.active {
    background-color: grey;
    color: #fff;
}


/* Style the tab content */

.tabcontent {
    float: left;
    padding: 0px 12px;
    // border: 1px solid #ccc;
    // width: 70%;
    border-left: none;
    height: 300px;
    width: 68%;
    margin-left: 2%;
}

.tabdetails {
    .the-fieldset {
        padding: 10px 0;
    }
    legend.the-legend {
        margin: 0px 10px;
    }
    // Form Style css
    .tabcontent {
        margin-top: 10px;
        background-color: grey;
        padding: 15px;
        color: #fff;
        height: auto;
        input[type=text],
        select {
            width: 100%;
            padding: 5px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        input[type=submit]:hover {
            background-color: #45a049;
        }
        form label {
            margin-bottom: 0;
        }
        button.formButton {
            background: #5d5d5d;
            border: none;
            color: #fff;
            padding: 4px 10px;
            margin-top: 12px;
        }
        button.SaveBtn {
            background-color: #d11a0d;
        }
    }
}

.form-group,
.the-fieldset {
    height: 100%;
}

@media only screen and (max-width: 1199px) {
  .tabdetails {
      margin: 15px 0;
  }
}

@media only screen and (max-width: 410px) {
  .tabdetails {
      margin: 0px 0;
      margin-bottom: 20px;
  }
    .tab {
        float: none;
        width: 100%;
        height: 300px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .tabdetails .tabcontent {
        width: 100%;
        float: none;
        margin-left: 0;
    }
}