<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="form-group">
                <fieldset class="the-fieldset userDetailsTable">
                    <legend class="the-legend">Information</legend>
                    <p><span>Name:</span> Dhaval Kodrani</p>
                    <p><span>Company:</span> Infovisions Labs Pune</p>
                    <p><span>User Name:</span> dkodrani@avaya.com</p>
                    <p><span>User Id:</span> dkodrani</p>
                    <p><span>User Type:</span> Avaya Associate</p>
                    <p><span>Avaya Relationship:</span> Avaya Associate</p>
                    <p><span>Joined:</span> 01-Mar-2018</p>
                </fieldset>
            </div>
        </div>
        <div class="col-lg-7 tabdetails">
            <div class="form-group tab">
                <fieldset class="the-fieldset userDetailsTable">
                    <legend class="the-legend">Tool Box</legend>
                    <button class="tablinks" (click)="changeTab($event, 'editContactInformation')" id="defaultOpen"><i class="cis-chevron-right"></i>
                        Edit Contact Information
                    </button>
                    <button class="tablinks" (click)="changeTab($event, 'editAddressInformation')"><i class="cis-chevron-right"></i>Edit Address Information</button>
                    <button class="tablinks" (click)="changeTab($event, 'viewRequestRoles')"><i class="cis-chevron-right"></i>View/Request Roles</button>
                    <button class="tablinks" (click)="changeTab($event, 'requestUserType')"><i class="cis-chevron-right"></i>Request User Type</button>
                    <button class="tablinks" (click)="changeTab($event, 'requestUserAccessType')"><i class="cis-chevron-right"></i>Request User Access Type</button>
                    <button class="tablinks" (click)="changeTab($event, 'changePassword')"><i class="cis-chevron-right"></i>Change Password</button>
                    <button class="tablinks" (click)="changeTab($event, 'changeSecurityQuestion')"><i class="cis-chevron-right"></i>Change Security Question</button>
                    <button class="tablinks" (click)="changeTab($event, 'enrollForApplications')"><i class="cis-chevron-right"></i>Enroll for Applications</button>
                    <button class="tablinks" (click)="changeTab($event, 'editPreference')"><i class="cis-chevron-right"></i>Edit Preference</button>
                    <button class="tablinks" (click)="changeTab($event, 'acceptedEULA')"><i class="cis-chevron-right"></i>Accepted EULA</button>
                </fieldset>
            </div>

            <div id="editContactInformation" class="tabcontent">
                <form action="#">
                    <label for="fname">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">

                    <label for="lname">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                    <label for="country">Country</label>
                    <select id="country" name="country">
                      <option value="australia">Australia</option>
                      <option value="canada">Canada</option>
                      <option value="usa">USA</option>
                    </select>
                    <button class="formButton">Cancel</button>
                    <button class="formButton SaveBtn">Save</button>
                </form>
            </div>

            <div id="editAddressInformation" class="tabcontent">
                <h3>Edit Address Information</h3>
            </div>

            <div id="viewRequestRoles" class="tabcontent">
                <h3>View/Request Roles</h3>
            </div>

            <div id="requestUserType" class="tabcontent">
                <h3>Request User Type</h3>
            </div>

            <div id="requestUserAccessType" class="tabcontent">
                <h3>Request User Access Type</h3>
            </div>

            <div id="changePassword" class="tabcontent">
                <h3>Change Password</h3>
            </div>

            <div id="changeSecurityQuestion" class="tabcontent">
                <h3>Change Security Question</h3>
            </div>

            <div id="enrollForApplications" class="tabcontent">
                <h3>Enroll for Applications</h3>
            </div>

            <div id="editPreference" class="tabcontent">
                <h3>Edit Preference</h3>
            </div>

            <div id="acceptedEULA" class="tabcontent">
                <h3>Accepted EULA</h3>
            </div>
        </div>
    </div>
</div>